*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    color: white;
    display: grid;
    place-items: center;
}
.name{
    color: crimson;
    font-size: 3rem;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: -5rem;
}
.calculator{
    width: 300px;
    height: 480px;
    box-shadow: 4px 4px 50px 10px rgb(173, 51, 51);
    border-radius: 15px;
    background-color: #22252d;
    overflow: hidden;
}
form input{
    width: 100%;
    height: 120px;
    border: none;
    font-size: 2rem;
    padding: 1rem;
    color: white;
    background-color: rgb(50, 47, 47);
    text-align: right;
    pointer-events: none;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}
button{
    margin: 5px 0;
    width: 60px;
    height: 52px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.btn-side{
    background-color: rgb(255, 56, 106);
    color: white;
}
.btn-middle{
    background-color: rgb(83, 127, 145);
    color: #ffffff;
}
.btn-equal{
    width: 192px;
    background-color: rgb(137, 203, 137);
    color: #ffffff;
}
.btn-clear{
    width: 125px;
    background-color: rgb(255, 0, 0);
    color: #ffffff;
}