*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    color: white;
    display: grid;
    place-items: center;
}
.name{
    color: crimson;
    font-size: 3rem;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: -5rem;
}
.calculator{
    width: 300px;
    height: 500px;
    box-shadow: 4px 4px 30px rgb(0, 0, 0,0.3);
    border-radius: 15px;
    background-color: #22252d;
    overflow: hidden;
}
form input{
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 12px;
    font-size: 2rem;
    padding: 1rem;
    color: white;
    background-color: rgb(50, 47, 47);
    text-align: right;
    pointer-events: none;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}
button{
    flex: 0 22%;
    margin: 5px 0;
    width: 60px;
    height: 52px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.btn-up{
    background-color: rgb(203, 55, 92);
    color: white;
}
.btn-middle{
    background-color: rgb(83, 127, 145);
    color: #ffffff;
}
.btn-equal{
    background-color: rgb(109, 210, 109);
    color: #ffffff;
}
.btn-clear{
    background-color: rgb(255, 0, 0);
    color: #ffffff;
}